:root{
    --main-bg-color: #14161a;
    --primary-color: #87ceeb;
    --second-text-color: #a9a9a9;
    --success-color: #11af80;
    --danger-color: #c40607; 
    --Roboto-font: 'Roboto', sans-serif;
    --Montserrat-font: 'Montserrat', sans-serif;
  }